.main-box {
  display: flex;
  flex-direction: column;
  padding-left: 5em;
  padding-right: 5em;
  min-height: 100%;
  max-width: 55em;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(15, 15, 15);
  overflow: scroll;
  align-items: center;
}

.main-box-mobile {
  display: flex;
  flex-direction: column;
  padding-left: 1em;
  padding-right: 1em;
  min-height: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(15, 15, 15);
  overflow-y: scroll;
  overflow-x: hidden;
  align-items: center;
}

.left-align {
  text-align: left;
}

.padding-right {
  padding-right: 1em;
}

.padding-left {
  padding-left: 1em;
}

.padding-bottom {
  padding-bottom: 1em;
}

.padding-top {
  padding-top: 1em;
}

.link {
  color: #b71c1c;
}

.link:hover {
  color: #d43030;
}

.horizontal-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.icon-button {
  margin-left: 0.5em;
  margin-right: 0.5em;
}
